body {
    margin: 0;
}
header {
    background-color:#f9edcc8;
    padding: 15px;
}
header ul {
    float: right;
    color:cadetblue;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
p, h1, h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

header li {
    display: inline-block;
    padding: 0px 15px;
}
header p {
    display: inline-block;
}
.logo {
    height: 75px;
}
li {
    color:black;
}
.heroImg {
    background-color: white;
    padding: 100px 15px;
}
.content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    text-align: center;
}
button {
    padding: 15px;
    background-color: #ba5a31 ;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}
footer {
    background-color:#f9edcc;
    padding: 5px;
    color: white;
}
footer ul {
    list-style: none;
    padding-left: 5px;
}
footer li {
    display: inline-block;
    padding: 0px 7px;
}
.heading {
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
}
/* My UX Skills Section */
.flexContainer {
    display: flex;
    padding: 60px 30px;
}
.flexContainer div {
    width: 33%;
    padding: 25px;
}
.flexContainer div img {
    width: 100%;
    height: auto;
}

/* My Work Section */
.myWork {
    padding: 60px 30px;
    padding-top: 0;
    background-color: white;
}
.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-areas: 
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
}
.workGrid img {
    width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
}
.img1 {
    grid-area: img1;
}
.img2 {
    grid-area: img2;
}
.img3 {
    grid-area: img3;
}
.img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 80px;
}
.content1 {
    grid-area: content1;
}
.content2 {
    grid-area: content2;
}
.content3 {
    grid-area: content3;
}
/* Mobile Media Query */
@media only screen and (max-width: 600){
    #flexContainer: columns;
     width: 100%;
     #categoryGrid {
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: 
            "img1 content1"
            "img2 content2"
            "img3 content3"
            ;
     }
}